:root {
  --primary: #ffa620;
  --secondery: #361e51;
  --black: #000000;
  --text-white: #fff;
  --text-light-gray: #dfe1f4;
  --btn-color: #f0f9f5;
  --price-cent-color: #babcd2;
  --body-bg-color: #181820;
  --body-text-color: #9997aa;
  --social-link-bg-color: #8976fd;
  --footer-bg-color: #2d2d3c;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "TT Firs Neue Trl";
  src: url("../fonts/TTFirsNeueTrl-Regular.eot");
  src: url("../fonts/TTFirsNeueTrl-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTFirsNeueTrl-Regular.woff2") format("woff2"),
    url("../fonts/TTFirsNeueTrl-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue Trl";
  src: url("../fonts/TTFirsNeueTrl-Medium.eot");
  src: url("../fonts/TTFirsNeueTrl-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTFirsNeueTrl-Medium.woff2") format("woff2"),
    url("../fonts/TTFirsNeueTrl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue Trl";
  src: url("../fonts/TTFirsNeueTrl-DemiBold.eot");
  src: url("../fonts/TTFirsNeueTrl-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTFirsNeueTrl-DemiBold.woff2") format("woff2"),
    url("../fonts/TTFirsNeueTrl-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue Trl";
  src: url("../fonts/TTFirsNeueTrl-Bold.eot");
  src: url("../fonts/TTFirsNeueTrl-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTFirsNeueTrl-Bold.woff2") format("woff2"),
    url("../fonts/TTFirsNeueTrl-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
===============================
Global CSS START
===============================
*/

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  background: var(--body-bg-color);
  color: var(--text-white);
}

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-out 0s;
  display: block;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--text-white);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
  line-height: 1.2;
}

h1,
h2 {
  font-weight: bold;
}

h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 2.1875rem; /* 45px */
}
h2 {
  font-size: 1.75rem; /* 28px */
}
h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.25rem; /* 20px */
}

h5 {
  font-size: 1.125rem; /* 18px */
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 2.8125rem; /* 45px */
  }
  h2 {
    font-size: 2.1875rem; /* 35px */
  }
  h3 {
    font-size: 1.875rem; /* 30px */
  }

  h4 {
    font-size: 1.5rem; /* 24px */
  }

  h5 {
    font-size: 1.25rem; /* 20px */
  }
}
@media screen and (min-width: 1360px) {
  h1 {
    font-size: 3.6875rem; /* 59px */
  }
  h2 {
    font-size: 2.9375rem; /* 47px */
  }
  h3 {
    font-size: 2.5rem; /* 40px */
  }

  h4 {
    font-size: 1.875rem; /* 30px */
  }

  h5 {
    font-size: 1.5625rem; /* 25px */
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*----- button style ------*/
.site-btn {
  background: var(--primary);
  color: var(--btn-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.065rem; /* 17px */
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
  padding: 18px 38px;
  text-align: center;
  border: 0;
  transition: 0.3s all ease;
  border-radius: 12px;
}

.site-btn:hover {
  color: var(--secondary);
  background: var(--text-white);
}

#page {
  overflow: hidden;
}

.vector-shade {
  position: relative;
}

.vector-shade::after {
  position: absolute;
  width: 100%;
  height: 116%;
  content: "";
  background-image: url(../images/Vector.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  left: 0;
  top: 0;
}

.shade-2::after {
  background-image: url(../images/title-vector.svg);
}

.sub-title {
  font-size: 1rem;
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.section-title,
.copyright-text,
.pricing-head,
.site-btn {
  font-family: "TT Firs Neue Trl", sans-serif;
}


/*
============================
Global CSS END
============================
*/

.main-wrappre {
  position: relative;
}

.section-title h2 {
  color: var(--text-white);
  margin-bottom: 37px;
}

/*
============================
Header Section Start
============================
*/
.header-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-btn {
  border: 1px solid var(--primary);
  color: var(--primary);
  background: none;
  transition: 0.3s all ease;
}

.login-btn:hover {
  border: 1px solid transparent;
}

.nav-toggle {
  width: 24px;
  height: 24px;
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: auto;
  outline: none;
}

.nav-toggle:focus,
.nav-toggle:active {
  outline: none;
  box-shadow: none;
}

.nav-toggle::before,
.nav-toggle::after,
.nav-toggle span {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
}

.nav-toggle::before,
.nav-toggle::after {
  position: absolute;
  left: 0;
  top: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-toggle::after {
  top: auto;
  bottom: 2px;
}

.nav-toggle span {
  margin: 6px 0;
}

.expanded .nav-toggle::before,
.expanded .nav-toggle::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.expanded .nav-toggle::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.expanded .nav-toggle span {
  display: none;
}

.header-inner .btn-wrap {
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}
.header-inner .btn-wrap .site-btn + .site-btn {
  margin-left: 1.5rem;
}

/*
============================
Header Section End
============================
*/

/*
============================
Banner Section Start
============================
*/

.banner-area {
  position: relative;
  padding-top: 40px;
  padding-bottom: 50px;
}

.banner-area::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  bottom: -312px;
  right: -226px;

  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(-26.48%, #413657),
    color-stop(51.43%, rgba(37, 35, 49, 0))
  );
  background: -o-linear-gradient(
    top,
    #413657 -26.48%,
    rgba(37, 35, 49, 0) 51.43%
  );
  background: linear-gradient(
    180deg,
    #413657 -26.48%,
    rgba(37, 35, 49, 0) 51.43%
  );
  mix-blend-mode: normal;
  z-index: -2;
  -webkit-clip-path: polygon(0 47%, 100% -1%, 100% 100%, 0 100%);
  clip-path: polygon(0 47%, 100% -1%, 100% 100%, 0 100%);
}

.banner-skew-vector {
  content: "";
  position: absolute;
  left: -59px;
  right: -173px;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #252331;
  clip-path: polygon(0 49%, 100% 7%, 100% 54%, 0 96%);
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.top-radial {
  height: 1945px;
  position: absolute;
  left: 0;
  right: -539px;
  top: -521px;
  background: -o-radial-gradient(
    59.35% 39.35%,
    48% 45%,
    rgba(108, 94, 139, 0.8) 0%,
    rgba(54, 30, 81, 0) 100%
  );
  background: radial-gradient(
    48% 45% at 59.35% 39.35%,
    rgba(108, 94, 139, 0.8) 0%,
    rgba(54, 30, 81, 0) 100%
  );
  z-index: -4;
  opacity: 0.7;
}

.top-ellipse-vector {
  position: absolute;
  top: -120px;
  right: 0;
  width: 1372px;
  height: 1563px;
  background-image: url(../images/banner-shade.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -3;
  opacity: 0.5;
}

.banner-text {
  max-width: 914px;
}

.banner-text h1 {
  color: var(--text-white);
  margin-bottom: 39px;
}

.banner-text p {
  margin-bottom: 48px;
}

.banner-text .site-btn {
  background: var(--text-white);
  color: var(--secondary);
  font-size: 1.125rem;
}

.banner-text .site-btn:hover {
  color: var(--text-white);
  background: var(--primary);
}

.dashboard-figure {
  margin-top: 15px;
}

.brand-logo {
  opacity: 0.5;
  padding: 10px;
}

/*
============================
Banner Section End
============================
*/

/*
============================
Features Section Start
============================
*/

.product-features-area {
  margin-top: 20px;
}

.feature-box-wrap {
  flex-flow: row wrap;
  gap: 1.625%;
}

.features-box {
  border-radius: 10px;
  padding: 40px 25px 25px;
  margin-bottom: 3%;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.features-box::before,
.features-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(54, 52, 65, 0.5) 0%,
    rgba(42, 41, 55, 0.5) 100%
  );
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -2;
}

.features-box::after {
  background: linear-gradient(
    154.06deg,
    rgba(83, 68, 103, 0.5) 5.56%,
    rgba(42, 41, 55, 0.5) 82.89%
  );
  z-index: -1;
  opacity: 0;
}

.features-box:hover::after {
  opacity: 1;
}

.features-icon {
  margin-bottom: 22px;
}

.features-box h5 {
  color: var(--text-white);
  margin-bottom: 15px;
}

.features-box p {
  color: var(--body-text-color);
  line-height: 24px;
}

/*
============================
Features Section End
============================
*/

.own-workflow-area {
  margin-top: 50px;
}

.workflow-content-wrap .row {
  margin-top: 50px;
}

.workflow-content {
  margin-top: 30px;
}

/*
============================
About Section Start
============================
*/

.workflow-content h3 {
  color: var(--text-white);
  font-weight: normal;
  margin-bottom: 20px;
}

.workflow-content p {
  color: var(--secondary);
  line-height: 27px;
  font-size: 1.125rem; /* 18px */
  margin-bottom: 35px;
}

/*
============================
About Section Ends
============================
*/

/*
============================
Pricing Section start
============================
*/

.pricing-area {
  margin-top: 55px;
}

.pricing-area .section-title {
  max-width: 566px;
}

.pricing-area .title {
  margin-bottom: 24px;
}

.pricing-box-row {
  background-image: url(../images/pricing-gradient-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-top: 25px;
  margin-left: -6px;
  margin-right: -6px;
}
.pricing-box-row > [class^="col-"],
.pricing-box-row > [class*="col-"] {
  padding-left: 6px;
  padding-right: 6px;
}

.pricing-box {
  background: rgba(59, 55, 78, 0.5);
  border-radius: 23.0857px;
  padding: 27px 24px;
  transition: 0.3s all ease;
  border: 1px solid transparent;
}

.pricing-head h4:not(.title) {
  color: var(--text-white);
  margin-bottom: 15px;
}

.pricing-head p {
  font-size: 1.0625rem;
  color: var(--text-light-gray);
}

.pricing-number {
  display: flex;
  gap: 10px;
}

.pricing-number h4 {
  font-weight: normal;
}

.pricing-number h4 sub {
  font-size: 1.125rem;
  color: var(--price-cent-color);
}

.pricing-number p {
  margin-top: 8px;
}

.pricing-list {
  margin-top: 25px;
}

.pricing-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  font-size: 1rem;
  line-height: 25px;
  border-top: 1.15429px solid rgba(255, 255, 255, 0.1);
  padding: 11px 0;
}

.pricing-list li::before {
  content: "";
  width: 19px;
  height: 19px;
  background-image: url(../images/pricing-list-check.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  object-position: center;
  display: inline-block;
}

.pricing-bottom {
  margin-top: 25px;
}

.pricing-bottom p {
  font-size: 1rem;
}

.pricing-bottom a:not(.site-btn) {
  color: var(--text-light-gray);
  display: inline-block;
  margin-bottom: 6px;
  text-decoration: underline;
}

.pricing-bottom a:not(.site-btn):hover {
  text-decoration: none;
}

.pricing-bottom .site-btn {
  border: 1px solid var(--primary);
  background: transparent;
  padding: 16px 36px;
}

.pricing-box:hover {
  background: rgba(94, 80, 110, 0.8);
  border: 1px solid var(--primary);
}

.pricing-box:hover .site-btn {
  color: var(--text-white);
  background: var(--primary);
}

.pricing-box:hover .pricing-bottom a:not(.site-btn) {
  color: var(--primary);
}

.pricing-box:hover .site-btn:hover {
  background-color: var(--text-white);
  color: var(--secondary);
  border-color: var(--text-white);
}

/*
============================
Pricing Section Section
============================
*/

/*
============================
Trial Section Start
============================
*/

.free-trial-area {
  margin-top: 50px;
}

.free-trial-area .sub-title {
  letter-spacing: 3px;
}

.free-trial-area .section-title h2 {
  line-height: 1;
}

.trial-bg {
  position: relative;
  background-color: var(--primary);
  padding: 80px 25px 65px;
  background-image: url(../images/trail-transparent.png);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center top;
}

.free-trial-area .sub-title {
  color: var(--text-white);
  margin-bottom: 10px;
}

.bg-white {
  color: var(--primary);
}

/*
============================
Trial Section End
============================
*/

/*
============================
Footer Section Start
============================
*/

.footer-wrapper {
  background: var(--footer-bg-color);
  padding-top: 90px;
  padding-bottom: 40px;
  margin-top: -50px;
}

.social-links {
  gap: 20px;
}

.social-links a {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}
.social-links a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: var(--social-link-bg-color);
  opacity: 0.2;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.social-links a:hover:after {
  opacity: 1;
}

/*
============================
Footer Section End
============================
*/

/* 
=============================
    Responsive styles
=============================
*/
@media (max-width: 767px) {
  .site-logo,
  .nav-toggle {
    position: relative;
    z-index: 2;
  }
  .header-inner,
  .header-inner .btn-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .header-inner .btn-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    box-sizing: border-box;
    z-index: 1;
    background-color: var(--body-bg-color);
    height: 0;
  }

  .header-inner #btn-wrap-inner {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .header-inner .btn-wrap .site-btn {
    width: 100%;
  }

  .header-inner .btn-wrap .site-btn + .site-btn {
    margin-left: 0;
    margin-top: 2.3rem;
  }

  .footer-wrapper .container {
    flex-flow: row wrap;
    row-gap: 20px;
  }
  .footer-wrapper .container > * {
    width: 100%;
    text-align: center;
  }
  .fotter-logo img {
    margin: 0 auto;
  }
  .social-links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 460px) {
  .banner-area::after {
    top: 52%;
    -webkit-clip-path: polygon(0 47%, 100% -1%, 100% 100%, 0 100%);
    clip-path: polygon(0 47%, 100% -1%, 100% 100%, 0 100%);
  }
}

@media screen and (min-width: 577px) {
  .banner-area::after {
    -webkit-clip-path: polygon(0 48%, 100% -1%, 100% 100%, 0 100%);
    clip-path: polygon(0 48%, 100% -1%, 100% 100%, 0 100%);
  }
}
@media screen and (min-width: 660px) {
  .features-box {
    width: 48.25%;
    margin-bottom: 1.625%;
  }
}

@media screen and (min-width: 768px) {
  .banner-area::after {
    top: 54%;
    -webkit-clip-path: polygon(0 50%, 100% -3%, 100% 100%, 0 100%);
    clip-path: polygon(0 50%, 100% -3%, 100% 100%, 0 100%);
  }
}

@media screen and (min-width: 991px) {
  .free-trial-area .section-title {
    max-width: 700px;
  }
  .banner-area::after {
    top: 52%;
    -webkit-clip-path: polygon(0 55%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 55%, 100% 0%, 100% 100%, 0 100%);
  }
}

@media screen and (min-width: 1024px) {
  .features-box {
    width: 32.25%;
  }

  .own-workflow-area {
    margin-top: 80px;
  }
  .free-trial-area {
    margin-top: 80px;
  }

  .footer-wrapper {
    padding-top: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .banner-area::after {
    -webkit-clip-path: polygon(0 57%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 57%, 100% 0%, 100% 100%, 0 100%);
  }
}

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1230px;
  }
  .container-large {
    max-width: 1340px;
  }

  .header-section {
    padding-top: 45px;
  }

  .banner-area {
    padding-top: 83px;
  }

  .banner-area::after {
    top: 53%;
    -webkit-clip-path: polygon(0 60%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 60%, 100% 0%, 100% 100%, 0 100%);
  }

  .dashboard-figure {
    margin-left: -65px;
    margin-right: -65px;
  }

  .product-features-area {
    margin-top: 80px;
  }

  .feature-box-wrap {
    margin-top: 35px;
  }

  .features-box {
    min-height: 313px;
  }

  .own-workflow-area {
    margin-top: 138px;
  }

  .workflow-content-wrap .row {
    margin-top: 95px;
  }

  .workflow-content-wrap .row:first-child {
    margin-top: 77px;
  }
  .workflow-content {
    margin-top: 60px;
    max-width: 395px;
  }

  .workflow-content-wrap .row:first-child .workflow-content {
    margin-top: 47px;
  }
  .pricing-area {
    margin-top: 174px;
  }

  .pricing-area .container {
    max-width: 1200px;
  }

  .pricing-area .section-title h2 {
    margin-bottom: 25px;
  }
  .pricing-box-row {
    margin-top: 43px;
  }

  .pricing-list {
    margin-top: 45px;
  }

  .pricing-bottom {
    margin-top: 42px;
  }
  .free-trial-area {
    margin-top: 170px;
  }

  .free-trial-area .section-title {
    max-width: 905px;
  }

  .free-trial-area .site-btn {
    padding: 20px 54px;
  }

  .footer-wrapper {
    padding-top: 143px;
    padding-bottom: 50px;
  }

  .copyright-text {
    font-size: 1.125rem;
  }
}